body{
	background-image: url('../imgs/stars.gif');
	background-repeat: repeat-x;
	position:fixed;
	padding:0;
	margin:0;
	background-size: 50%;
}

.homecontainer{
	position:fixed;
    padding:0;
    margin:0;

    top:0;
    left:0;

    width: 100%;
    height: 100%;
	background-color:;
}

.menu{
	color:white;
	font-size:350%;
	position:relative;
	top:25%;
	right:-10%;
	font-family:arial;
}

.rectangle {
  height: 50px;
  width: 100px;
  background-color: #555;
  position:relative;
  float:right;